############################################# \
######## USER CONFIG OVERRIDES FILE #########  + --> This will help you personalize my config to your printer :)
############################################# /

# This file is yours! Feel free to edit it in order to include all the needed
# things to adapt my generic config to your machine. This file will not be erased
# when updating the config using moonraker and it will be kept as you've set it.
# You can change every section of the config. You can also add some new custom macros, etc...
# The corresponding documentation can be found in: docs > overrides.md

### Also, keep in mind: if you use a multi-MCU config such as the old school double SKRs or a CANbus toolhead
### board, you will need to specify which components are connected to which board in your own mcu.cfg file!
### Example: if something is connected to the toolhead MCU, you should use "config_pin: toolhead:PIN_NAME".

#> Main control MCUs are called "mcu" (and "secondary" when using a double MCU configuration)
#> Toolhead CANboard MCUs are called "toolhead"
#> ERCF MCUs are called "ercf" 

# ------------------------------------------------------------------------------------------


#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

## The START_PRINT sequence is modular and fully customizable. A default START_PRINT sequence is auto-populated based on
## your probe choice (TAP, Dockable, Inductive), but if for some reasons you still want to modify it, please uncomment the
## following `variable_startprint_actions` definition. You can use any number of action or even duplicate some actions if needed.
## Available actions: "bed_soak", "chamber_soak", "extruder_heating", "tilt_calib", "z_offset", "bedmesh", "purge", "clean", "primeline"
##
# variable_startprint_actions: "action1", "action2", ...


#-------------------------#
#   BED POSITION OFFSET   #
#-------------------------#

[stepper_x]
position_endstop = 246
position_max = 246

[stepper_y]
position_endstop = 255
position_max = 255

[stepper_z]
position_endstop = 1.200
position_min = -2.0

[probe]
z_offset = -0.315

[skew_correction]

#-------------------------#
#   EXTRUDER/BED PIDs     #
#-------------------------#

[extruder]
control: pid
pid_kp: 24.135
pid_ki: 1.228
pid_kd: 118.561

[heater_bed]
sensor_type: Generic 3950
control: pid
pid_kp: 58.224
pid_ki: 2.623
pid_kd: 323.146

#-------------------------#
#      INPUT SHAPER       #
#-------------------------#

[input_shaper]
# Supported shapers: zv, mzv, zvd, ei, 2hump_ei, 3hump_ei
shaper_freq_x: 72.8
shaper_type_x: zv
shaper_freq_y: 73.8
shaper_type_y: 2hump_ei

[include clean_nozzle.cfg]
# [include adxl345.cfg]
