########################################### \
######## MAIN PRINTER CONFIG FILE #########  + --> Entry file to configure your printer configuration :)
########################################### /

# This file is yours! Feel free to edit it in order to include all
# the needed components (adapted to your machine). Also, keep in mind
# that it will not be erased when updating the config using moonraker
# and it will be kept as you've set it.


#-------------------------#
#   HARDWARE COMPONENTS   #
#-------------------------#

# ---------------------------------------------------------------- PRINTER KINEMATICS ----> Select only one line
### --------------------------------------------------------------------------------------

[include config/kinematics/corexy.cfg]      # ex. Voron v2, Trident, ...

# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------------- MACHINE AXIS ----> Select only one line for each axis
### X axis -------------------------------------------------------------------------------
[include config/hardware/axis/X/1.8deg.cfg]

### Y axis -------------------------------------------------------------------------------
[include config/hardware/axis/Y/1.8deg.cfg]

### Z axis -------------------------------------------------------------------------------

[include config/hardware/axis/Z/Trident_TR8x4_1.8deg.cfg]

# --------------------------------------------------------------------

##### Dimensions configuration ---------------------------------------

[include config/hardware/axis/size/250mm.cfg]

# --------------------------------------------------------------------

##### Extruder configuration -----------------------------------------

[include config/hardware/extruder/cw2.cfg]

# --------------------------------------------------------------------

##### Heated bed configuration ---------------------------------------
[include config/hardware/heated_bed.cfg]
# --------------------------------------------------------------------

##### Probe configuration --------------------------------------------

[include config/hardware/probes/inductive.cfg]
# --------------------------------------------------------------------

##### Fans configuration ---------------------------------------------
[include config/hardware/fans/hotend_fan.cfg]
[include config/hardware/fans/part_fan.cfg]
[include config/hardware/fans/controller_fan.cfg]
[include config/hardware/fans/rpi_fan.cfg]
# --------------------------------------------------------------------

##### Display configuration ------------------------------------------

[include config/hardware/displays/BTT_mini12864.cfg]

# --------------------------------------------------------------------

##### Other temperature sensors configuration ------------------------
[include config/hardware/temperature_sensors/rpi_temp.cfg]
[include config/hardware/temperature_sensors/mcu_temp.cfg]

# --------------------------------------------------------------------

##### Lights and leds configuration ----------------------------------
[include config/hardware/lights/fcob_white.cfg]

[include config/hardware/lights/status_leds.cfg]
# --------------------------------------------------------------------

##### Filaments sensors configuration --------------------------------
# [include config/hardware/filament_sensors/motion_sensor.cfg]
# [include config/hardware/filament_sensors/runout_sensor.cfg] #TODO: create file
# --------------------------------------------------------------------

##### Accelerometers sensors configuration ---------------------------
# [include config/hardware/accelerometers/adxl345_rpi.cfg]
# [include config/hardware/accelerometers/adxl345_ebb.cfg]
# [include config/hardware/accelerometers/adxl345_sht.cfg]
# [include config/hardware/accelerometers/adxl345_sb2040.cfg]
# [include config/hardware/accelerometers/adxl345_skr.cfg]
# [include config/hardware/accelerometers/adxl345_usb.cfg]
# --------------------------------------------------------------------

##### Additional filters configuration -------------------------------
# [include config/hardware/filters/exhaust_filter.cfg]
# [include config/hardware/filters/nevermore_filter.cfg]
# --------------------------------------------------------------------

##### Additional filters configuration -------------------------------
# [include config/hardware/ercf.cfg]
# --------------------------------------------------------------------


#---------------------------------#
#   KLIPPER SOFTWARE COMPONENTS   #
#---------------------------------#

##### Bed mesh ------------------------------------------------------
[include config/software/bed_mesh/bed_mesh_250mm.cfg]
# [include config/software/bed_mesh/bed_mesh_300mm.cfg]
# [include config/software/bed_mesh/bed_mesh_350mm.cfg]

### If you need to specify a bed mesh configuration for a custom sized printer, use your
### overrides.cfg file instead. These defaults are only made for common machines sizes
# -------------------------------------------------------------------

##### Sensorless homing ---------------------------------------------
# [include config/software/sensorless_homing.cfg]

### Follow the Klipper documentation here: https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
### to find the best suited SGTHRS value according to your machine. Then add this value to your
### overrides.cfg as stated in the config/software/sensorless_homing.cfg file!
# -------------------------------------------------------------------

##### Firmware retraction -------------------------------------------
# [include config/software/firmware_rectraction.cfg]
# -------------------------------------------------------------------

##### Input shaper --------------------------------------------------
[include config/software/input_shaper.cfg] # Don't forget to calibrate it!
# -------------------------------------------------------------------

##### QGL vs Z_TILT configuration -----------------------------------

[include config/software/tilting/z_tilt_250mm.cfg]

# -------------------------------------------------------------------



###################################
### DO NOT EDIT BELOW THIS LINE ###
###################################
[include config/machine.cfg]
[include variables.cfg]
[include mcu.cfg]
[include overrides.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.058366, -0.046491, -0.055866, -0.088991
#*# 	  -0.066491, -0.008991, -0.008366, -0.107741
#*# 	  -0.057741, -0.033991, -0.035241, -0.084616
#*# x_count = 4
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 73.0
#*# max_x = 175.99
#*# min_y = 95.0
#*# max_y = 154.0
